body {
    font-family: Consolas, monaco, monospace;
}

canvas {
    border-style: solid;
    border-width: 1px;
}

#tile-canvas {
    width: 512px;
    height: 768px;
}

hr {
    margin: 10px;
}

.container {
    max-width: 60%;
    margin-bottom: 10px;
}

.palette-grid {
    padding: 0;
    display: flex;
    width: 160px;
    flex-wrap: wrap;
}

.palette-item {
    width: 10px;
    height: 10px;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}